<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker Board</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Checker_board.css') }}">
</head>
<body>
    <div class = "container">
        {% for i in range(ver): %}
            {% if i % 2 == 0 %}
                {% for j in range(hor): %}
                    {% if j % 2 == 0 %}
                        <div class = "box1" style="background-color: {{some_color1}};"></div>
                    {% else: %}
                        <div class = "box2" style = "background-color: {{some_color2}}"></div>
                    {% endif %}
                {% endfor %}
            {% else: %}
                {% for j in range(hor): %}
                    {% if j % 2 == 0 %}
                        <div class = "box2" style = "background-color: {{some_color2}}"></div>
                    {% else: %}
                        <div class = "box1" style = "background-color: {{some_color1}}"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <br>
        {% endfor %}
    </div>
</body>
</html>