/*Css Modifications*/

* {
	padding: 0;
	margin: 0px;
}

.maincontainer1 {
	margin: 0px auto;
	width: 970px;
	height: auto;
	background-color: rgb(34, 81, 109);
}

.container1 {
	background-color: rgb(34, 81, 109);
	height: 25px;
	font-size: 15px;
	display: flex;
	align-items: flex-end;
	justify-content: end;
	padding-right: 50px;
	padding-bottom: 5px;
}

button {
	width: 40px;
	height: 28px;
	background-color: rgb(4, 39, 92);
	color: white;
	border: 2px solid silver;
	border-radius: 5px;
	margin-left: 5px;
}

.container1 p {
	color: white;
}

.container1 p a {
	color: yellow;
}

.container2 {
	background-color: rgb(34, 81, 109);
	height: 84px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.logo img {
	height: 80px;
	padding-left: 30px;
}

.input {
	background-color: rgb(59, 59, 59);
	height: 60px;
	width: 240px;
	margin-right: 10px;
	border: 1px solid rgb(54, 53, 53);
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 40px;
}

input {
	width: 150px;
	height: 28px;
	text-align: center;
}


nav {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	height: 45px;
	background-color: rgb(66, 123, 189);
	border-radius: 5px;
	box-shadow: 0px 3px 5px black;
	margin-right: 20px;
	margin-left: 80px;
	margin-bottom: 5px;
}

nav ul li {
	display: inline;
	font-size: 21px;
	margin: 25px;
}

.classes2 {
	background-color: rgb(34, 81, 109);
	display: flex;
	justify-content: space-evenly;
}

.class-a {
	color: white;
	font-size: 21px;
	padding-top: 30px;
	padding-left: 70px;
	text-align: center;
}

.class-a ul {
	list-style: none;
	
}

.class-a ul li:before {
	color: yellow;
	content: "\00BB \0020";
}

.class-a ul li {
	margin-top: 5px;
}

.class-a ul a{
	text-decoration: underline;
	color: white;
}

.class-b {
	margin-top: 20px;
	margin-left: 30px;
}

.class-b .p1 {
	color: white;
	text-align: center;
}

.class-b .p2 {
	color: yellow;
	display: flex;
	font-style: italic;
	font-size: 20px;
	justify-content: center;
	text-align: center;
	margin-top: 10px;
}

.class-b .p3 {
	color: white;
	text-align: center;
	font-size: 18px;
	margin-top: 15px;
	margin-bottom: 30px;
}

.maincontainer2 {
	display: flex;
	justify-content: center;
	width: 970px;
	height: auto;
	margin: 0px auto;
}

.headline {
	background-color: skyblue;
	width: 400px;
	height: 3px;
	margin-top: 10px;
}

.col1 {
	margin-left: 40px;
}

.col2 {
	margin-left: 35px;
	margin-bottom: 15px;
}

.col1 h1,
.col2 h1 {
	text-align: center;
	font-size: 20px;
	margin-right: 90px;
	margin-top: 10px;
}

.col1 p,
.col2 p {
	text-align: center;
	margin-right: 60px;
}

.col1 ul li,
.col2 ul li {
	text-align: center;
	list-style: square;
	padding-right: 80px;
	margin-left: 40px;
}

.col1 ul li a,
.col2 ul li a,
.col2 p a {
	color: rgb(55, 182, 241);
	text-decoration: none;
}

.footer {
	margin: 0px auto;
	width: 970px;
	height: 100px;
	background-color: rgb(34, 81, 109);
}

.botlinks {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding-top: 45px;
	margin-left: 80px;
}

.botlinks ul li {
	display: inline;
	justify-content: center;
}

.botlinks ul li a {
	color: rgb(135, 165, 179);
	text-decoration: none;
	font-size: 20px;
	margin-right: 30px;
}

.copyright {
	color: rgb(135, 165, 179);
	font-size: 10px;
	display: flex;
	justify-content: center;
	margin-top: 11px;
}