/*Css Mods*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Balsamiq Sans', cursive;
    margin: 0px auto;
}

/*Head Mods*/

.head {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 33px;
    height: 50px;
    width: 650px;
    margin: 0px auto;
    padding-left: 15px;
}

.feed {
    text-align: center;
    margin: 0px auto;
    width: 665px;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: center;
    
}

aside {
    border: 2px solid black;
    margin-top: 10px;
    width: 210px;
    height: 257px;
}

aside img {
    height: 80px;
    position: relative;
    left: 65px;
    top: 30px;
}

aside a {
    position: relative;
    right: 30px;
    top: 70px;
}
aside p {
    font-size: 33px;
    position: relative;
    left: 20px;
    top: 95px;
}

article {
    margin-left: 25px   ;
}

.card {
    border: 2px solid black;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 15px;
    width: 400px;
    height: 130px;
}

.card .p2{
    margin-top: 35px;
    font-size: 19px;
}

.main {
    display: flex;
    align-items: center;
}

.main h1 {
    font-size: 22px;
}

.main .pA {
    margin-top: 5px;
    position: relative;
    left: 120px;
}

.main .pB {
    margin-top: 5px;
    position: relative;
    left: 85px;
}

.main .pC {
    margin-top: 5px;
    position: relative;
    left: 131px;
}

.main button {
    margin-top: 5px;
    margin-left: 38px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(255, 217, 102);
    box-shadow: 4px 4px 4px black;
    width: 60px;
    height: 30px;
    
}

.main .B1 {
    position: relative;
    left: 150px;
}

.main .B2 {
    position: relative;
    left: 113px;
}

.main .B3 {
    position: relative;
    left: 158px;
}

